@import url("https://fonts.googleapis.com/css2?family=Acme&family=Montserrat+Alternates&family=Montserrat+Subrayada&family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text-teal-sky {
  background-image: linear-gradient(to right, #5cc5ea, #26837a);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block; /* Prevents line breaks */
}
